body {
  background-color: #3b3b3b;
}

.container {
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  width: 300px;
}

h4 {
  font-size: 18px;
  color: #f5f4f4;
  margin-bottom: 15px;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

button {
  background-color: #0e5fe096;
  border: none;
  color: #e9e2e2;
  padding: 10px;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  margin: 0 5px;
}

button:hover {
  background-color: #0051fff3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

button i {
  margin-right: 6px;
}

.error {
  color: #f87171 !important;
}

#status {
  font-size: 12px;
  color: #4caf50;
  margin-top: 10px;
}
